:root {
    --primary-font: Poppins, sans-serif;
    --primary-text-black: #000000;
    --secondary-text-grey: rgba(0, 0, 0, 0.64);
    --white-text-color: #ffffff;

    --main-bgc: #ffffff;
    --accent-btn-color: #464343;
}